# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local database
local.db

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Ignore test files
*.spec.ts
*.test.ts
